<html>
<body>
  <h2>USER TRIPS</h2>
  <!-- <ul>
    <li>Trip to Colorado</li>
    <li>Trip to Phoenix</li>
    <li>Trip to Boston</li>
  </ul> -->
  <hr>
  <h2>Create A User</h2>
  <form class="" action="/create" method="post">
    <!--Grab User Id from EJS Object-->
    <input type="text" name="name" value="" placeholder="Name"><br/>
    <input type="text" name="email" value="" placeholder="Email"><br/>
    <input type="text" name="password" value="" placeholder="Password"><br/>
    <input type="submit" value="Create User" placeholder="Create User"/>
  </form>
</body>
</html>
