<html>
<body>
  <h2>Create Trips</h2>

  <form class="" action="" method="post">
    <!--Grab User Id from EJS Object-->
    <input type="text" name="name" value="" placeholder="Name"><br/>
    <input type="text" name="email" value="" placeholder="Description"><br/>
    <select>
      <option>SELECT FLIGHT</option>
      <!--GRAB FROM KNEX FOR FLIGHTSt-->

      <option value="">Flight #20321</option>
      <option value="">Flight #55323</option>
    </select><br/>
    <input type="submit" value="Create Trip" placeholder=""/>
  </form>
</body>
</html>
