<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TravelDash</title>
  </head>
  <body style="margin:auto">
    <div style="display:grid;grid-template-column:repeat(4,1fr);grid-auto-rows:30px;background:#f2f2f2">
      <div style="font-size:25px"><a href="/">HOME</a> </div>
      <div style="font-size:25px"><a href="/airlines/login">AIRLINES</a> </div>
      <div style="font-size:25px"><a href="/trips">TRIPS </a> </div>
    </div>
    <h2>User Login Page</h2>
    <form class="" action="/" method="post">
      <input type="text" name="name" value="" placeholder="Name"/><br/>
      <input type="text" name="email" value="" placeholder="Email" /><br/>
      <input type="text" name="password" value="" placeholder="Password" /><br/>
      <input type="submit" value="LOGIN"/> <a href="/signup">or Signup</a>
    </form>
  </body>
</html>
